<div class="container">

  <h3 class="d-flex justify-content-center">Application Angular and Django </h3>
  <h5 class="d-flex justify-content-center">Ordering and Categories</h5>
<router-outlet></router-outlet>
<nav class="navbar navbar-expand-sm">
  <ul class="navbar-nav">
      <li class="nav-item">
          <button routerLink="category"
          class="m-1 btn btn-dark btn-outline-success">Categories</button>
      </li>
      <li class="nav-item">
          <button routerLink="offer"
          class="m-1 btn btn-dark btn-outline-warning">Offers</button>
      </li>
  </ul>
  </nav>
  <router-outlet></router-outlet>
</div>